@import '../../variables.scss';
.link-hover {
            text-decoration: none;
            transition: all 0.3s ease;
            color: $primary;
          }
          .link-hover:hover {
            color:$primary;
            text-decoration: underline;
            transform: scale(1.05);
          }
          .card {
            max-width: 500px;
            margin: auto;
          }

