@import "../../variables.scss";

/*  CONTACT SECTION */
.contact-section {

  h2 {
    letter-spacing: 2px;
    font-family: $font-family-base;
  }
  p {
    letter-spacing: 2px;
    font-family: $font-sans-serif;
  }
}

/*  FORM */
.contact-form {
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

  .form-control {
    //border: 1px solid #ced4da;

    &:focus {
      border-color: $secondary;
      box-shadow: 0 0 0 0.2rem rgba($secondary, 0.25);
    }

    &.is-invalid {
      border-color: $danger;
    }
  }

  .invalid-feedback {
    color: $danger;
    font-weight: 600;
  }
}

/*  BUTTON*/
.btn-primary {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    border-color: $secondary;
    transform: scale(1.1); // Efecto de crecimiento
    box-shadow: 0 10px 20px rgba($primary, 0.4);
  }
}

/*  LINKS */
a {
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}