   /* Footer.scss */
.footer-section {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)), url('../../../public/assets/mapa.jpg');
  background-size: cover;
  background-position: center;
}
.footer-logo {
  width: 90px;
  height: 60px;
  object-fit: contain; 
}