@import "bootstrap/scss/functions";


//variables nuevas para bootstrap
$primary: #5B2671;
$primary-light: #9974AA;
$secondary:#D4C46A;
$success:#527614;
$danger: #af251b;
$warning: #ffa023;
$info: #a0C562;
$color_primary-accento: #84329B;
// $light:
// $dark:
$text-nav: #736100;


//Form - botones de form

$color_form_bg: #c2c7c6;
$border-form: #ced4da;
//$btn-outline-secondary:
//$btn-form: #c216db;

$btn-hover-bg: darken($primary, 28%);


@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";


$custom-colors: (
    "bg-form": $color_form_bg,
    "btn-hover": $btn-hover-bg,
    "form-accento" : $color_primary-accento,
    "border-color-form": $border-form

);
$theme-colors: map-merge($theme-colors,$custom-colors);

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

//Typografia
@font-face {
    font-family: 'RobotoSerif';
    src: url('./../public/assets/fonts/static/RobotoSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
//font
$font-sans-serif: 'RobotoSerif';
$font-family-sans-serif: 'RobotoSerif', sans-serif;
$font-family-base: $font-family-sans-serif;

/*$primary-dark: #3C1053;
$color_fondo: #f3f2f1;
$color_form_background: #eff2f1;
$link-color: #1d7bbf; // call to action
$Color_F_Claro: #F3F2F1;
$Color_Acc_ClaroINFORMATION: #84329B;

 */
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";